.box-site-list {
  background-color: yellow;
  width: 100%;
  padding-top: 100%; /* 1:1 비율을 갖도록 */
}

.box-site-form {
  margin-top: 40px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개의 열 */
  grid-gap: 40px; /* 사이 간격 조절 */
  width: 600px; /* 적절한 너비 조절 */
}
